# Hide generated and local data folders
data/raw/
data/processed/

# Hide common local data/model files
*.csv
*.xlsx
*.h5
*.npy
*.npz
*.pkl

# Hide local environment files
backend/.env
.env

# Python
**/__pycache__/
*.pyc

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS/editor
.DS_Store
Thumbs.db
